<!--
<div>
    <h1>Proyecto de computación II</h1>
</div>

<div class="M-4">
    <img src="../../assets/edu.jpg" alt="edu_img">
    <img src="../../assets/victor.jpg" alt="victor_img">
    <img src="../../assets/yul.jpg" alt="yul_img">
    <img src="../../assets/alex.jpg" alt="alex_img">
</div>

-->

<div class="container-fluid">
  
  <h1>Proyecto de computación II</h1>
  <br>
  <h2>El análisis de sentimiento es el proceso de determinar el tono emocional detrás de una serie de palabras. Nuestra herramienta automatiza este proceso para extraer la conclusión del análisis de forma automática.</h2>
      
    <ngb-carousel>

      <ng-template ngbSlide *ngFor="let image of images">
        <div class="wrapper">
          <img [src]="image.src" alt="Random first slide">
        </div>
        <br>
        <div class="carousel-caption">
          <h3>{{ image.title }}</h3>
          <p>{{ image.short }}</p>
        </div>
      </ng-template>



    </ngb-carousel>

    <br><br>
    
       
    
</div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
      <small>Copyright &copy; PC2</small>
  </div>
</footer>
     


