div {
    height: 60px;
    color: white;
    background: rgb(201, 180, 129);
}

h1{
    font-weight: 700;
    font-size: 88px;
    text-align: center;
}

img {
    margin: 20px;
    vertical-align:middle;
}